<header>
            <div class="header-container">
                <div class="header-upper">
                    <div class=header-logo>
                        <a class="logo" href="/index" title="Main logo of project">
                            <img src="/public/images/logo1.png" alt="main-logo" width="150" height="40">
                        </a>
                    </div>
                    <div class=header-search>
                        <form class="search-block" id="mini-search-field">
                            <div>
                                <input class="search-field" type="text" placeholder="Tìm kiếm khóa học">
                            </div>
                            <div>
                                <button class="search-button" type="submit" title="Search">
                                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="group-icons">
                        <div class=header-cart>
                            <a href="shopping.html" title="Purchase courses"><span class="cart-icon fa fa-shopping-cart fa-lg" aria-hidden="true"></span></a>
                        </div>
                        <div class=header-favor>
                            <a href="favor.html" title="Favorite courses"><span class="favor-icon fa fa-heart fa-lg" aria-hidden="true"></span></a>
                        </div>
                        <div class=header-notification>
                            <a href="noti.html" title="Notification"><span class="notification-icon fa fa-bell fa-lg" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="header-lower">
                    <ul class="list-options">
                        <li>
                            <a class="category-nav" href="">
                                Danh mục
                                <span aria-hidden="true" class="fa fa-angle-down"></span>
                            </a>
                        </li>
                        <li>
                            <a class="activate-btn" href="https://lms.edumall.vn/new-cod/active_new">
                                <img alt="Kích hoạt khóa học" src="https://dvch1hlupt.cdn.hostvn.net/button/image/4_2_3.png">
                                Kích hoạt khóa học
                            </a>
                        </li>
                        <li>
                            <a class="btn-activation" href="https://lms.edumall.vn">
                                <img alt="Khóa học của tôi" src="https://dvch1hlupt.cdn.hostvn.net/button/image/1_1_3.png"> 
                                Khóa học của tôi
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
</header>