<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/icon.png" sizes="32x32"/>
    <title>Edu Own Your Knowledge</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Course, Education">
    <meta name="description" content="Web Video Courses">
    <meta name="author" content="nmcntt_18CLC2_Group 11">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<base href="https://www.w3schools.com/" target="_blank">-->
    <style>
        body{
            background-image:url("images/bg.png");
            background-size:100%;
            background-position: center center;
        }
        .im {
            max-width:210px;
            max-height:95px;
            width: auto;
            height: auto;
        }
        .allde{
            max-width:600px;
            max-height:360px;
            width: auto;
            height: auto;
            margin-top:120px;
        }
        .f {
            width:400px;
            height:40px;
            font-size:130%;
            padding-left:15px;
        }
        .f:hover {
            background-color: rgb(205, 241, 229);
            outline: 0;
            border: 2px solid rgb(140, 140, 173);
            border-radius: 7px;
        }
        .f:focus{
            background-color: rgb(205, 241, 229);
            outline: 0;
            border: 2px solid blueviolet;
            border-radius: 7px;
        }
        .but {
            width:160px;
            height:50px;
            background-color: red;
            font-size: 125%;
            color:white;
            border-radius: 20px;
            font-stretch:semi-condensed;
        }
    </style>
</head>
<body>
    <div id="fb-root"></div>
<form action="process.html">
    <table style="width:90%;margin-left:50px;" cellspacing="5px">
        <colgroup><col width="500px"></colgroup>
        <tr" >
            <td><img src="images/logo1.png" class="im" alt="logo"></td>
            <td align="right"><a href="SignIn.html" style="color:red;margin-right:110px;">Đăng nhập</a></td>
        </tr>
        <tr>
            <td><div style="text-align:center;"><h1>Nền tảng giáo dục trực tuyến<br>lớn nhất Đông Nam Á</h1></div></td>
            <td rowspan="10"><img src="images/all_device.png" alt="Devices using OYK" class="allde"></td>
        </tr>
        <tr>
            <td style="color:grey">Nơi mọi người chia sẻ , khám phá và học hỏi bất cứ điều gì</td>
        </tr>
        <tr>
            <td><br>Đăng kí nhanh với</td>
        </tr>
        <tr>
            <td>
                <!--
                <div class="fb-login-button" data-size="large" data-button-type="continue_with" 
                data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
                -->
                <div class="fb-login-button" data-size="medium" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
                <button>Gmail</button>
            </td>
        </tr>
        <tr>
            <td><br>Hoặc đăng kí ngay</td>
        </tr>
        <tr>
            <td><input id="ho" class="f" type="text" name="Ho" placeholder="Họ" maxlength="20" autocomplete="off"></td>
        </tr>
        <tr>
            <td><input id="ten" class="f" type="text" name="Ten" placeholder="Tên" maxlength="30" required autocomplete="off"></td>
        </tr>
        <tr>
            <td><input id="tk" class="f" type="text" name="mail/phone" placeholder="Email hoặc số điện thoại" maxlength="50" required autocomplete="off"></td>
        </tr>
        <tr>
            <td><input id="pass" class="f" type="password" name="pass" placeholder="Mật khẩu" maxlength="20" required autocomplete="off"></td>
        </tr>
        <tr>
            <td>Bằng cách nhấp vào Đăng ký, bạn đồng ý với <a href="dieukhoan.html">Điều khoản</a>,<br>
                <a href="quyche.html">Quy chế hoạt động</a> và <a href="chinhsach.html">Chính sách bảo mật</a> của EduOYK.</td>
        </tr>
    </table>
    <div>
        <table style="margin-left:50px;" cellspacing="15">
            <tr>
                <td><input id="submit" class="but" type="submit" name="send" value="Đăng ký"></td>
                <td>
                    <div>
                        <p>Đã có tài khoản? <a href="dangnhap.html">Đăng nhập</a></p>
                    </div>
                </td>
            </tr>
    </table>
    </div>
</form>
<script src="javascript/SignUp.js"></script>
</body>
</html>