<div class="video-info">
    <div class="main-video">
        <div class="play-icon">
            <i class="far fa-play-circle" aria-hidden="true"></i>
        </div>
        <div class="video-text">
            Bài <span class="video-index">`+count+`</span>:
        </div>
        <input class="video-name" placeholder="Tên bài" value="">
        <div class="chapter-collapse icon-close video-delete">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
    <div class="extension">
        <div class="chapter-text">
            Video URL: 
        </div>
        <input class="video-name customize" maxlength="100" placeholder="https://www.youtube.com/watch?v=B3-IZ20X3AY" name="video[]" value="">
    </div>
</div>